
@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-weight: 200;
    font-style: normal;
    src: url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/eot/SpoqaHanSans-Thin.eot");
    src: url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/eot/SpoqaHanSans-Thin.eot?#iefix") format("embedded-opentype"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/woff2/SpoqaHanSans-Thin.woff2") format("woff2"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/woff/SpoqaHanSans-Thin.woff") format("woff"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/ttf/SpoqaHanSans-Thin.ttf") format("truetype"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/svg/SpoqaHanSans-Thin.svg#svgFontName") format("svg")
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-weight: 400;
    font-style: normal;
    src: url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/eot/SpoqaHanSans-Regular.eot");
    src: url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/eot/SpoqaHanSans-Regular.eot?#iefix") format("embedded-opentype"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/woff2/SpoqaHanSans-Regular.woff2") format("woff2"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/woff/SpoqaHanSans-Regular.woff") format("woff"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/ttf/SpoqaHanSans-Regular.ttf") format("truetype"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/svg/SpoqaHanSans-Regular.svg#svgFontName") format("svg")
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-weight: 600;
    font-style: normal;
    src: url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/eot/SpoqaHanSans-Bold.eot");
    src: url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/eot/SpoqaHanSans-Bold.eot?#iefix") format("embedded-opentype"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/woff2/SpoqaHanSans-Bold.woff2") format("woff2"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/woff/SpoqaHanSans-Bold.woff") format("woff"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/ttf/SpoqaHanSans-Bold.ttf") format("truetype"),url("https://s3.ap-northeast-2.amazonaws.com/mp-seoul-image-production/assets/fonts/svg/SpoqaHanSans-Bold.svg#svgFontName") format("svg")
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 200;
    src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.woff2) format("woff2"),url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.woff) format("woff"),url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff2) format("woff2"),url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff) format("woff"),url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 600;
    src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff2) format("woff2"),url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff) format("woff"),url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.otf) format("opentype")
}

body, div, p{
	font-family: "SpoqaHanSans", "Noto Sans SC", "sans-serif";
}

h1 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0px;
}
h2 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
}
h3 {
	font-family: "SpoqaHanSans", "Noto Sans SC", "sans-serif";
	font-size: 30px;
}
/* h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
} */
h5 {
	font-family: "SpoqaHanSans", "Noto Sans SC", "sans-serif";
	font-size: 18px;
}
/* h6 {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
} */


/* a{
	color:#f39c12
} */

*{
	caret-color: red;
}


.hidden{
	display: none;
}
.no-border{
	border: none;
}

/* ------------------------------------------------------------------------ */
/* NAVIGATION */
/* ------------------------------------------------------------------------ */
nav {
	z-index: 1000;
	padding-right: 15px;

	box-shadow: none;
	position: fixed;
	width: 100%;
	top: 0;
}

nav.transparent{
	background: transparent;
}

nav.transparent.scroll,
nav.register,
nav.shop {
    background: #ffffff;
    background: rgba(255,255,255,0.95);
		border-bottom: 1px solid #f5f5f5;
		box-shadow: 0px 4px 15px rgba(0,0,0,0.07);
    border-bottom: 1px solid #f0f0f0;
}

nav.main.transparent a{
	color:#FFFFFF;
}
nav.main.transparent.scroll a{
	color: #515A5F;
}

nav .member{
	float: right;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 20px;
}

nav.main .member a.nav_member,
nav.main .member a.nav_login{
	background-image: url(../source/member_white.png);
	background-size: cover;
	display: block;
	height: 30px;
	width: 30px;
}

nav.main.scroll .member a.nav_member,
nav.main.scroll .member a.nav_login{
	background-image: url(../source/member.png);

}

nav .container .four.columns {
	float: left;
	width: auto
}

nav .container .twelve.columns {
	float: right;
	width: auto
}

nav .menu {
	float: right;
	height: 40px;
	padding-top: 20px;
}
nav .menu li {
	display: inline;
	margin-right: 35px;
}
nav .menu a {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 22px;
	text-decoration: none;
	text-transform: uppercase;
}


nav.register a,
nav.shop a{
	color: #515A5F;
}
nav.register a.nav_member,
nav.shop a.nav_member {
	background-image: url(../source/member.png);
	background-size: cover;
	display: block;
	height: 32px;
	width: 32px;
}

.slick-track {
	margin-left: 0 !important;
}

/* ------------------------------------------------------------------------ */
/* HOME */
/* ------------------------------------------------------------------------ */
#home {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: table;
	color: #010101;
	z-index:10;
}

/* ------------------------------------------------------------------------ */
/* VIDEO */
/* ------------------------------------------------------------------------ */
.full_screen_video {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
}

/* ------------------------------------------------------------------------ */
/* WELCOME TEXT */
/* ------------------------------------------------------------------------ */
.welcome-text-box{
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
.welcome{
	position:relative;
	width: 100%;height: 100%;
}
.welcome a{
	color:#fff;
	display: block;
	position: absolute;
	left: 50%;
	text-decoration: none;

	border: 7px solid;
	box-sizing: border-box;

	font-family: 'BebasNeueRegular', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0px;
	text-align: center;
	line-height: 1;
}

.welcome a:hover{
	color:#f39c12;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* ------------------------------------------------------------------------ */
/* SEARCH */
/* ------------------------------------------------------------------------ */
#search{
	padding-top: 100px;
}
.input_box{
	width:400px;
	margin: 0 auto;
}
.input_box #searchText{
	width:80%;
	font-size: 15px;
	height:30px;
	padding: 0;
	margin: 0;
}
.input_box .btn_search{
	padding: 0;
	margin: 0;
	height: 32px;width: 50px;
	background-color: #fff;
	float: left;
	box-shadow: #ececec 0px 1px 4px inset, 
	#f8f8f8 -5px -5px 0px 0px, 
	#f8f8f8 5px 5px 0px 0px, 
	#f8f8f8 5px 0px 0px 0px,
 	#f8f8f8 0px 5px 0px 0px, 
 	#f8f8f8 5px -5px 0px 0px, 
 	#f8f8f8 -5px 5px 0px 0px;
   border: 1px solid #e8e8e8;
}
.input_box .btn_search:active{
	background-color: #ccc;
	color: #fff;
}
.filter_box{
	width: 400px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 30px;
}
.filter_box .selectBox{
	float: left;
	width: 33%;
}
.filter_box .selectBox select{
	width: 90%;
	height: 30px;
	font-size: 15px;
}


/* ------------------------------------------------------------------------ */
/* SEARCHED ITEMS  */
/* ------------------------------------------------------------------------ */
.searched_items li a{
	color: #000;
}

/* ------------------------------------------------------------------------ */
/* LOGIN CONTAINER & SIGNUP CONTAINER  */
/* ------------------------------------------------------------------------ */
.login_container,
.sign_up_container {
	position:fixed;
	top:75px;left:50%;
	margin-left: -180px;
	width: 300px; height: 350px;
	padding: 30px;
	z-index: 10000;

	background-color: #fff;
	border-radius: 2px;
}
.login_container .login_box,
.sign_up_container .sign_up_box {
	position: relative;
	width: 100%;
	height: 100%;
}
.login_container .login_box .login_close,
.sign_up_container .sign_up_box .sign_up_close {
	display: block;
	position: absolute;
	top:-20px;right: -20px;
	width: 30px;height: 30px;
	background-color: #fff;
	border: none;
	background-image: url(../source/close.png);
}
.login_container .login_box h2 {
	height: 80px;line-height: 80px;
	text-align: center;
}
.sign_up_container .sign_up_box h2{
	height: 40px;line-height: 30px;
	text-align: center;
}
/*  */

.login_container form#login_form input,
.signup_container form#sign_up_form input {
		height: 20px;
		margin: 0 auto 10px;
}

.main_body input[type="text"],
.main_body input[type="password"],
.main_body input[type="email"],
.main_body textarea,
.main_body select {
	background: #fff;
	padding: 8px 8px;
	outline: none;
	border-radius: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
	margin: 0;
	width: 280px;
	max-width: 93%;
	display: block;
	margin-bottom: 10px;
	color: #999;
	box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	border: 1px solid #e8e8e8;
}
/*  */

.btn_login,
.btn_sign_up {
	display: block;
	border-radius: 2px;
	height: 40px;
	margin: 0 0 10px;padding: 0;
	text-transform: uppercase;
	font-size: 23px;
	line-height: 35px;
	text-decoration: none;
	text-align: center;
	font-family: 'oswald', sans-serif;
	font-weight: 600;
	box-sizing: border-box;
}
.btn_sign_up{
	border: 1px solid #515a5f;
	color: #515a5f;
}

.btn_sign_up:hover{
	background-color:#f39c12;
	border-color: #f39c12;
	color: #fff;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.btn_login{
	margin-top: 35px;
	background-color: #f39c12;
	color: #fff;
	border: none;
}
/*  */
.alert{
	height: 20px;
	font-size: 13px;
	line-height: 13px;
	text-indent: 3px;
	color: tomato;
}
/* ------------------------------------------------------------------------ */
/* MEMBER CONTAINER */
/* ------------------------------------------------------------------------ */
.member_container{
	position:fixed;
	right:20px;
	top:75px;
	z-index: 10000;
	width: 320px;
	height: 450px;
	background-color: #fff;
	border-radius: 2px;
}

/* member_menu */
.member_menu{
	position: relative;
}
.member_menu > span.arrow{
	border-style: solid;
	position: absolute;
	border-color: #ffffff transparent;
	border-width: 0 16px 16px;
	width: 0;
	top: -10px;
	right: 8px;
	z-index: 1000;
}
.member_menu > span.close{
	display: block;
	width: 100%;height: 40px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}
.member_menu > span.close > button{
	display: block;
	position: absolute;
	top:5px;right:3px;
	width: 30px;height: 30px;
	background-color: #fff;
	border: none;
	background-image: url(../source/close.png);
}


.member_menu  ol.clearfix{
	height: 45px;
}
.member_menu  ol.clearfix > li {
	float: left;
	height: 100%;width: 50%;
	border-bottom: 1px solid #dbdbdb;
	box-sizing: border-box;
}
.member_menu  ol.clearfix > li a {
	display: block;
	width: 100%;height: 100%;
	color: #9b9b9b;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
}
.member_menu  ol.clearfix > li a.active{
	border-bottom: 5px solid #f39c12;
	box-sizing: border-box;
	color: #f39c12;
}

/* menu_items */
.menu_items .bookmark_list .menu_item{
	height: 80px;padding: 5px 0 5px 5px;
}
.menu_items .bookmark_list .menu_item .btn_bookmark_info{
	color: #333;
}
.menu_items .bookmark_list .menu_item .btn_bookmark_info:active{
	color: #333;
	text-decoration: none;
}
.menu_items .bookmark_list .menu_item .bookmark_picture{
	float: left;
	height: 80px;width: 80px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.menu_items .bookmark_list .menu_item .bookmark_content{
	float: left;
	height: 80px;
}
.menu_items .bookmark_contents .bookmark_name,
.menu_items .bookmark_contents .bookmark_point {
	float: left;
	font-size: 20px;
	line-height: 80px;
}
.menu_items .bookmark_contents .bookmark_name{
	padding-left: 20px;
	padding-right: 20px;
}
.menu_items .bookmark_contents .bookmark_point{
	color: #f39c12;
}

/* logout_box */
.logout_box{
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.logout_box .btn_logout{
	display: block;
	padding: 5px 0 10px;
	color: #000;
}
 .btn_logout{color: #fff; text-decoration: none; outline: none}
 .btn_logout:hover, a:active {text-decoration: none; color:#fff; background-color:#f59000;}

/* ------------------------------------------------------------------------ */
/* OVERLAY */
/* ------------------------------------------------------------------------ */
.sign_up_overlay,
.member_overlay,
.login_overlay,
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: 99;
}

/* ------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------ */
.footer {
	height: 200px;
	margin-top: 100px;
	background-color: #f39c12;
}




/* ------------------------------------------------------------------------ */
/* REGISTER_PAGE ---------------------------------------------------------- */
/* ------------------------------------------------------------------------ */

/* WRAP */
.register_section{
	background-color:#e5e5e5;
}

/* TABLE */
	.table_container{

	}
	.table_box{
		padding: 50px 30px 50px;
		background-color: #fff;
		border-radius:10px;
		border: 1px solid #afafaf;
	}

	table.register_table{
		width: 95%;
		margin: 0 auto;
		color: #000;
	}
	table.register_table tr {
		font-size: 16px;line-height: 20px;
		height: 50px;
	}
	table.register_table tr > th{
		padding-right: 20px;
		padding-top: 7px;
		font-size: 14px;
		font-weight: medium;

		vertical-align: top;
	}
	table.register_table tr > td{
		font-size: 14px;
		vertical-align: middle;
		padding:0px 3px 10px;
	}


	.td_box{
		min-height: 30px;
		text-align: center;
		overflow: hidden;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius:5px ;
	}

	.td_box textarea{
		width: 95%;
		padding: 10px 5% 10px 10px;
		font-size: 15px;
		border: none;
		height: 50px;
	}
	.td_box input[type="checkbox"]{
		width: 20px;height: 20px;
	}
	.td_box input[type="radio"]{
		width: 15px;height: 15px;
	}
	.td_box span.table_flow_icon{
		float: left;line-height:30px;margin: 0 10px;
	}



	table.register_table input[type="text"]{
		width: 100%; height: 30px;
		text-indent: 20px;
		font-size: 14px;
		border: none;
		border-radius:5px ;
	}

	/* purpose_container */

	.purpose_container{
		border-radius: 5px;
	}
	.purpose_container > .purpose_box{
		float: left;
		width: 50%;height: 100%;
	}
	.purpose_container > .purpose_box select{
		font-size: 14px;
		width: 100%;
		height: 30px;
		padding-left: 10px;
		border: none;
		border-radius:5px ;
	}
	.purpose_container > .purpose_box select option{
		font-size: 15px;
	}

	/* parking_container & size_container */

	.parking_container,
	.size_container{
		margin: 0 auto;
		display: inline-block;
	}
	.parking_container .parking_item,
	.size_container .size_item{
		margin-right: 20px;
		padding: 10px 0 10px 10px;
		float: left;
		text-align: center;
	}
	.parking_container .parking_item:last-child,
	.size_container .size_item:last-child{
		margin-right: 0;
	}

	/* open_day_container & open_time_container */

	.open_day_container{
		margin: 0 auto;
		padding: 10px 0;
		display: inline-block;
	}
	.open_day_container .open_day_item{
		margin-right: 5px;
		padding: 10px 0 10px 10px;
		float: left;
		text-align: center;
	}

	.open_time_container{
		margin: 0 auto;
		padding-bottom:18px;
		display: inline-block;
	}
	.open_time_container > .open_time_item{
		float: left;
		height: 100%;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	.open_time_container > .open_time_item input.timepicker{
		font-size: 15px;
	}

	/* reservation_container */

	.reservation_container{
		margin:0 auto;
		display: inline-block;
	}
	.reservation_container .reservation_item{
		margin-right: 20px;
		padding: 10px 0 10px 10px;
		float: left;
		text-align: center;
	}
	.reservation_container .reservation_item:last-child{
		margin-right: 0;
	}

	/* phone_container */

	.phone_container{
		padding: 10px;
	}
	.phone_container > .phone_box{
		float: left;
		width: 29%;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-radius: 5px;
	}
	.phone_container > .phone_box select{
		font-size: 14px;
		width: 100%;
		height: 30px;
		padding-left: 10px;
		border: none;
		border-radius:5px ;
	}
	.phone_container > .phone_box select option{
		font-size: 15px;
	}


	/* TABLE MEDIA QUERY */
	@media only screen and (min-width: 961px){
		table.register_table tr > th{
				width:180px;
				text-align: left;
		}
	}
	@media only screen and (max-width: 960px){
		table.register_table tr > th{
				text-align: left;
		}
	}
	@media only screen and (min-width: 401px) and (max-width: 767px){
		table.register_table tr > th{
				width:160px;
		}
	}
	/* MOBILE - FLOAT TABLE */
	@media only screen and (max-width: 767px){
		table.register_table tr > th{
			text-align: left;
			padding: 5px 0 0;
		}

		table.register_table tr > th,
		table.register_table tr > td{
			float: left;
			width: 100%;
		}
	}
	/* REGISTER TABLE ELEMENT MEDIA QUERY */
	@media only screen and (max-width: 400px) {
		.phone_container > .phone_box {
			float:none;
			width: 100%;
			margin:5px 0;
		}
		.td_box span.table_flow_icon{
			display: block;float: none;height: 10px;line-height: 10px;text-align: left;
		}
		.open_time_container{
			padding: 10px;
		}
		.open_time_container .open_time_item{
			float: none;
			width: 100%;
			margin:5px 0;
			text-align: center;
		}
	}
